.timer-container {
  margin-bottom: 0px;
}

.timer {
  font-size: 17px;
  font-weight: 600;
  color: #585f69;
  margin-bottom: -10px;
}

.result {
  display: flex;
  flex-direction: row;
}

.loading-solve {
  display: inline-block;
  position: relative;
  width: 80px;
  margin-left: 3px;
}
.loading-solve > div {
  display: inline-block;
  width: 5px;
  background: #afa8de;
  animation: loading-solve 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-solve div:nth-child(1) {
  animation-delay: -0.24s;
}
.loading-solve div:nth-child(2) {
  animation-delay: -0.12s;
}
.loading-solve div:nth-child(3) {
  animation-delay: 0;
}
@keyframes loading-solve {
  0% {
    top: 8px;
    height: 16px;
  }
  50%,
  100% {
    top: 24px;
    height: 7px;
  }
}

.success-solve {
  display: inline-block;
  transform: rotate(45deg);
  width: 9px;
  height: 14px;
  border-bottom: 4px solid #afa8de;
  border-right: 4px solid #afa8de;
  margin-left: 7px;
}

.fail-solve {
  background: #f9f9f9;
  width: 18px;
  height: 18px;
  position: relative;
  margin-left: 10px;
}

.fail-solve:after {
  content: "";
  height: 18px;
  border-left: 5px solid #cd8084;
  position: absolute;
  transform: rotate(45deg);
}

.fail-solve:before {
  content: "";
  height: 18px;
  border-left: 5px solid #cd8084;
  position: absolute;
  transform: rotate(-45deg);
}

.modal-baekjun {
  background-color: rgba(40, 56, 80, 0.8);
  display: block;
}

.modal-document {
  width: 600px;
  margin: 40px auto;
}
