.loading-enroll {
  display: inline-block;
  position: relative;
  left: 97px;
  top: -44px;
  width: 80px;

}
.loading-enroll > div {
  display: inline-block;
  width: 4px;
  background: #afa8de;
  animation: loading-enroll 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

  &:nth-child(1) {
    animation-delay: -0.24s;
  }
  &:nth-child(2) {
    animation-delay: -0.12s;
  }
  &:nth-child(3) {
    animation-delay: 0;
  }
}

@keyframes loading-enroll {
  0% {
    top: 8px;
    height: 16px;
  }
  50%,
  100% {
    top: 24px;
    height: 7px;
  }
}
