.loading-enroll {
  display: inline-block;
  position: relative;
  left: 97px;
  top: -44px;
  width: 80px;

}
.loading-enroll > div {
  display: inline-block;
  width: 4px;
  background: #afa8de;
  animation: loading-enroll 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

  &:nth-child(1) {
    animation-delay: -0.24s;
  }
  &:nth-child(2) {
    animation-delay: -0.12s;
  }
  &:nth-child(3) {
    animation-delay: 0;
  }
}

@keyframes loading-enroll {
  0% {
    top: 8px;
    height: 16px;
  }
  50%,
  100% {
    top: 24px;
    height: 7px;
  }
}


.loading-solve {
  display: inline-block;
  position: relative;
  width: 80px;
  margin-left: 3px;
}
.loading-solve > div {
  display: inline-block;
  width: 5px;
  background: #afa8de;
  animation: loading-solve 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-solve div:nth-child(1) {
  animation-delay: -0.24s;
}
.loading-solve div:nth-child(2) {
  animation-delay: -0.12s;
}
.loading-solve div:nth-child(3) {
  animation-delay: 0;
}
@keyframes loading-solve {
  0% {
    top: 8px;
    height: 16px;
  }
  50%,
  100% {
    top: 24px;
    height: 7px;
  }
}

.loading-programmers{
  display: flex;
  justify-content: center;
}

.loading-programmers > span > div {
  width: 48px;
  height: 48px;
  border-radius: 50% !important;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgb(255, 255, 255) 33%, #afa8de 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.mark-programmers {
  margin-right: 20px !important;
}

.loading-programmers > span > div::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}