.ps-modal-container {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 70%;
  background-color: white;
  border-radius: 5px !important;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);
}

.ps-modal-header {
  padding: 4px;
  border-radius: 5px !important;
  border-color: #00000005;
  display: flex;
  border-bottom-width: 1px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.ps-user {
  font-size: 12px;
  height: 25px;
  cursor: pointer;
}

.ps-modal-body {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  gap: 16px;
}

.solving-analysis {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}
.time-wrap {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
  padding: 8px;
  border-style: solid;
  border-color: #0000000d;
  border-width: 1px;
  border-radius: 5px !important;
  width: 48%;
  height: 150px;
}
.time-title {
  display: flex;
  gap: 8px;
}
.memory-wrap {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
  padding: 8px;
  border-style: solid;
  border-color: #0000000d;
  border-width: 1px;
  border-radius: 5px !important;
  width: 48%;
  height: 150px;
}

.code-wrap {
  display: flex;
  flex-direction: column;
  border-radius: 5px !important;
  background-color: #00000005;
}

.code-lang {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
}

.code-content {
  padding: 8px 16px;
}

.code-pre {
  color: black;
  font-size: 13px;
  text-shadow: none;
  font-family: Menlo, Monaco, Consolas;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  padding: 0px;
  margin: 0px;
  overflow: auto;
  background: transparent;
  overflow-wrap: normal;
  border: 0;
}

.code {
  text-shadow: none;
  white-space: pre;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 1em;
}

.eff-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  border-color: #00000014;
  border-style: solid;
  border-color: #0000000d;
  border-width: 1px;
  border-radius: 5px !important;
  border-radius: 8px;
  gap: 8px;
}

.eff-category {
  display: flex;
  gap: 8px;
  border-style: solid;
  border-width: 0;
}

.eff-category > div {
  color: #0000008c;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 6px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-width: 0;
}

.eff-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 240px;
}

.chart-top {
  overflow: hidden;
}

.chart-top-content {
  position: relative;
  overflow: hidden;
  width: 622px px;
  height: 200px;
  text-align: left;
  line-height: normal;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  touch-action: manipulation;
  outline: none;
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

.chart-bottom {
  background-color: #0000000a;
  border-style: solid;
  border-radius: 5px;
  margin-left: 31px;
}
