.ps-modal-container {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 70%;
  background-color: white;
  border-radius: 5px !important;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);
  z-index: 111;
}

.ps-modal-header {
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 8px 8px 0 0;
}

.close-btn {
  background-color: transparent; /* 배경색을 투명하게 설정 */
  border: none;
  font-size: 20px; /* 아이콘의 크기를 조정 */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.ps-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ps-user .name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.ps-user .submitted-time,
.ps-user .submission-id,
.ps-user .solve-time {
  font-size: 14px;
  color: #888;
}

.ps-modal-body {
  padding: 20px;
}

.ps-modal-button {
  padding: 20px;
}

.solving-analysis {
  display: flex;
  gap: 20px;
}

.time-wrap,
.memory-wrap {
  border-radius: 8px !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
  color: transparent !important;
  text-decoration: none;
  cursor: pointer;
}
.runtime-wrap {
  display: flex;
  gap: 10px;
}
.time-wrap:hover,
.memory-wrap:hover {
  background-color: #ffffff;
  border-color: #ccc;
  color: #5865f2;
  text-decoration: none;
  cursor: pointer;
}

.time-wrap.active,
.memory-wrap.active {
  background-color: #f0f0f0;
  border-color: #ddd;
}

.time-wrap .title,
.memory-wrap .title {
  font-size: 18px;
  font-weight: bold;
  color: #888;
  display: flex;
  align-items: center;
  gap: 8px;
}

.time-wrap .value,
.memory-wrap .value {
  font-size: 24px;
  font-weight: bold;
  color: #888;
  display: flex;
  align-items: center;
  gap: 8px;
}

.time-wrap.active .title,
.memory-wrap.active .title,
.time-wrap.active .value,
.memory-wrap.active .value {
  color: #333;
}
.unit {
  font-size: 18px;
  font-weight: 100;
}

.time-wrap:hover .title,
.time-wrap:hover .value,
.memory-wrap:hover .title,
.memory-wrap:hover .value,
.time-wrap:hover .highlight,
.memory-wrap:hover .highlight {
  color: #333;
}

.code-wrap {
  display: flex;
  flex-direction: column;
  border-radius: 5px !important;
  background-color: #efd3d305;
}

.runtime-content {
  display: flex;
}

.code-lang {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
}

.code-content {
  padding: 8px 16px;
}

.code-pre {
  color: black;
  font-size: 13px;
  text-shadow: none;
  font-family: Menlo, Monaco, Consolas;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  padding: 0px;
  margin: 0px;
  overflow: auto;
  background: transparent;
  overflow-wrap: normal;
  border: 0;
}

.code {
  text-shadow: none;
  white-space: pre;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 1em;
}

.eff-wrap {
  margin-top: 20px;
}

.eff-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 240px;
}

.chart-top {
  overflow: hidden;
}

.chart-top-content {
  position: relative;
  overflow: hidden;
  width: 622px px;
  height: 200px;
  text-align: left;
  line-height: normal;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  touch-action: manipulation;
  outline: none;
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

.chart-bottom {
  background-color: #0000000a;
  border-style: solid;
  border-radius: 5px !important;
  margin-left: 31px;
}
