.page-header {
  display: flex;
  flex-direction: row;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.timer {
  font-size: 27px;
  font-weight: 600;
  color: #afa8de;
}
