body {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 300px;
  margin: 0;
  white-space: nowrap;
  background: linear-gradient(331.91deg, #afa8de 4.31%, #9586ef 130.13%);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 5px;
}

.logo-button {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  cursor: pointer;
}

.logo-text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.logo-text-logined {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.logo-repo-logined {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: #aeb4b8;
  }
}

.repo-container {
  display: flex;
}

.repo-type {
  display: flex;
  flex-direction: row-reverse;
  width: 80px;
}

.dropdown-select-type {
  height: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 1px;
}

.dropdown-select-type.active {
  height: 60px;
}

.dropdown-select-type input {
  cursor: pointer;
  border-radius: 7px;
  padding: 5px 7px;
  font-size: 11px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
  &:focus {
    box-shadow: inset 0 0 0 2px #bdb7df;
  }
}

.dropdown-select-type .options-type {
  width: 100%;
  height: 50px;
  background: #fff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  transition: 0.01s;
}

.dropdown-select-type .options-type::-webkit-scrollbar {
  display: none;
}

.dropdown-select-type.active .options-type {
  visibility: visible;
  opacity: 1;
}

.dropdown-select-type .options-type div {
  padding: 2px 7px;
  cursor: pointer;
}

.dropdown-select-type .options-type div:hover {
  border-radius: 2px;
  background: #62baea;
  color: #fff;
}

.dropdown-select-type::before {
  content: "";
  position: absolute;
  border-radius: 7px;
  top: 174px;
  right: 200px;
  width: 6px;
  height: 2px;
  background: #555;
  z-index: 10;
  transform: rotate(40deg);
  transition: 0.5s;
}

.dropdown-select-type.active::before {
  right: 196px;
}

.dropdown-select-type::after {
  content: "";
  position: absolute;
  border-radius: 7px;
  top: 174px;
  right: 196px;
  width: 6px;
  height: 2px;
  background: #555;
  z-index: 10;
  transform: rotate(-40deg);
  transition: 0.5s;
}

.dropdown-select-type.active::after {
  right: 200px;
}

.before-select-type {
  border-radius: 7px;
  padding: 5px 5px;
  cursor: auto;
  font-size: 11px;
  background: #f3f3f3;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
}

.new-repo-button {
  border-radius: 3px;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  background: #51d298;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
  margin-left: 2px;
  &:hover {
    background: #37dd95;
  }
}

#verify-repo {
  border-radius: 3px;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  background: #62baea;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
  margin-left: 2px;
  &:hover {
    background: #5ec5fd;
  }
}

.verify-message {
  margin-top: 3px;
  font-size: 10px;
  color: rgb(189, 36, 36);
}

.enroll-repo {
  border-radius: 3px;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500px;
  background: #02bc68;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
  margin-left: 2px;
}

.new-repo-input {
  cursor: pointer;
  border-radius: 7px;
  padding: 5px 5px;
  font-size: 11px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
  &:focus {
    box-shadow: inset 0 0 0 2px #bdb7df;
  }
}

.old-repo-select {
  display: flex;
  flex-direction: row;
}

.dropdown-select-repo {
  height: 10px;
  width: 53%;
}

.dropdown-select-repo::before {
  content: "";
  position: absolute;
  border-radius: 7px;
  top: 173px;
  right: 77px;
  width: 8px;
  height: 2px;
  background: #555;
  z-index: 10;
  transform: rotate(40deg);
  transition: 0.5s;
}

.dropdown-select-repo.active::before {
  right: 72px;
}

.dropdown-select-repo::after {
  content: "";
  position: absolute;
  border-radius: 7px;
  top: 173px;
  right: 72px;
  width: 8px;
  height: 2px;
  background: #555;
  z-index: 10;
  transform: rotate(-40deg);
  transition: 0.5s;
}

.dropdown-select-repo.active::after {
  right: 77px;
}

.dropdown-select-repo input {
  cursor: pointer;
  border-radius: 7px;
  padding: 5px 5px;
  font-size: 11px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
  &:focus {
    box-shadow: inset 0 0 0 2px #bdb7df;
  }
}

.dropdown-select-repo .options-repo {
  width: 100%;
  height: 100px;
  display: absolute;
  background: #fff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow-y: auto;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: 0.01s;
}

.dropdown-select-repo .options-repo::-webkit-scrollbar {
  display: none;
}

.dropdown-select-repo.active .options-repo {
  visibility: visible;
  opacity: 1;
}

.dropdown-select-repo .options-repo div {
  padding: 2px 7px;
  cursor: pointer;
}

.dropdown-select-repo .options-repo div:hover {
  border-radius: 3px;
  background: #62baea;
  color: #fff;
}

.option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: #fff;
  border-radius: 10px 10px 0 0;
}

.option-container > .option-header {
  width: 90%;
  height: 30px;
  margin: 15px 1px 5px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.option-title {
  font-size: 19px;
  font-weight: 700;
  color: #000;
}

.option-body {
  width: 100%;
}

.option {
  display: flex;
  flex-direction: row;
  margin: 7px 10px;
  align-items: center;
}

.option span {
  font-size: 15px;
  font-weight: 500;
  margin-right: auto;
}

.repo-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  margin-right: 6px;
}

.repo-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 14px;
  width: 14px;
  left: 3.5px;
  bottom: 2.5px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.repo-switch input:checked + .slider {
  background-color: #afa8de;
  border-color: #fff;
}

.repo-switch input:focus + .slider {
  box-shadow: 0 0 1px #afa8de;
}

.repo-switch input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  cursor: pointer;
  background: linear-gradient(to bottom, #463f6b 50.31%, #000 130.13%);
}
.footer-name {
  font-size: 13px;
  font-weight: 500px;
  color: #fff;
}
